.cards {
  display: flex;
  flex-wrap: wrap;
}

.card__title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  list-style: none;
  margin-bottom: 32px;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
}
