.form {
  margin: 0 auto 120px auto;
  max-width: 385px;
}

.form__fieldset {
  max-width: 385px;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  display: flex;
}

.form__input {
  box-sizing: border-box;
  width: 385px;
  border-radius: 4px;
  border: 0;
  margin: 0 auto 32px auto;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
}

.form__input_date {
}

.form__input {
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  height: 60px;
  width: 385px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  margin: 0 12px 0 auto;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  background-color: #2f80ed;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label-checkbox {
  display: flex;
  justify-content: center;
}
