.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__logo {
  width: 116px;
  height: 21px;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 80px;
  padding-top: 60px;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
  text-align: end;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}
.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  transition: color 1s ease-in-out;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  padding-bottom: 60px;
  padding-left: 80px;
  padding-top: 108px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
