@keyframes pulsate {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.about {
  padding-left: 80px;
  padding-right: 80px;
  background-color: #0a2750;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin-top: 100px;
  z-index: 1;
}

.about__content {
  max-width: 660px;
  margin-top: 119px;
  margin-bottom: 173px;
  margin-top: 119px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 20px;
  margin-left: 128px;
  gap: 32px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  width: 426px;
  height: 426px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
