.header {
  background-image: url(/images/background_header.svg);
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  display: flex;
  color: black;
  max-width: 729px;
  margin: 202px 0 0 80px;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  z-index: 0;
  margin-left: 0px;
}

.span__accent {
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 683px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 202px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__hours {
  position: absolute;
  left: 80px;
  bottom: 40px;
  list-style: none;
  padding: 0;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  float: right;
}
