.menu {
  background-image: url(/images/background_menu.svg);
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 100px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: space-around;
  width: 100%;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin-top: -110px;
  margin-bottom: 24px;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.menu__subtitle {
  font-family: "Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: -40px;
  text-indent: -45px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  gap: 40px;
  width: 100%;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
