.menu {
  background-image: url(/images/background_menu.svg);
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 100px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: space-around;
  width: 100%;
}

.menu__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  min-width: 780px;
  margin-top: 100px;
  margin-bottom: 24px;
  justify-content: center;
  text-align: center;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  justify-content: center;
  margin-top: 0;
}

.menu__cards {
  min-width: 600px;
  margin-right: 100px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  gap: 40px;
  justify-content: center;
}
