.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9e7ff;
  background-image: url(images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  font-size: 44px;
  font-weight: 44px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 80px;
  justify-content: center;
}

.reservation__form {
  display: flex;
  justify-content: center;
}
