.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9e7ff;
  background-image: url(/images/2-background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 80px;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.reservation__form {
  margin: 0 auto;
  padding: 0;
  border-style: none;
}
